html,
body {
  height: 100%;
  width: 100%;
}

#app {
  background-color: #000000;
  min-height: 100%;
  min-width: 100%;
}



$font-families: 'Radikal','Radikal-Light', 'Radikal-Bold', 'Helvetica';
$fonts-url-path: '../fonts';

@font-face {
  font-family: 'Helvetica';
  src: url('#{$fonts-url-path}/Helvetica.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Radikal-Light';
  src:  url('#{$fonts-url-path}/Radikal-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Radikal';
  src: url('#{$fonts-url-path}/Radikal.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Radikal-Bold';
  src:url('#{$fonts-url-path}/Radikal-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: $font-families;
}

body {
  margin: 0;
}


/* events  */

.events-container {
  display: flex;
  flex-direction: column;
  .events-title {
    height: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    span {
      display: flex;
      font-family: "radical-light";
      font-size: 1.6rem;
      color: #565656;
      margin-bottom: 0.5rem;
    }
  }
  .events-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem 8%;
    background-color: #a9a9a92b;
    .event-item {
      width: calc(30% - 16px);
      margin: 1.5%;
      padding: 8px;
      &:hover {
        background-color: white;
      }
      img {
        width: 100%;
        height: 7rem;
      }
      .event-item-info {
        display: flex;
        flex-direction: row;
        padding: 0.5rem 0;
        width: 100%;
        overflow: hidden;
        .event-item-info-time {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-right: 1px solid gray;
          padding-right: 8px;
          .info-time-month {
            font-size: 0.6rem;
            color: grey;
            display: block;
          }
          .info-time-date {
            font-size: 1.7rem;
            font-family: "radical-light";
          }
        }
        .event-item-info-place {
          display: flex;
          flex-direction: column;
          flex: 5;
          padding: 0 0.4rem;
          max-width: 80%;
          .info-place-title {
            white-space: nowrap;
            font-size: 1rem;
            font-family: "radical-light";
            font-weight: bold;
            margin-bottom: 5px;
            overflow: hidden;
            max-width: 100%;
            text-overflow: ellipsis;
          }
          .info-place-location {
            display: flex;
            font-size: 0.6rem;
            font-family: "radical-light";
            color: grey;
            margin-bottom: 5px;
          }
          .info-place-city {
            display: flex;
            font-size: 0.7rem;
            font-family: "radical-light";
            color: grey;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .events-container .events-content {
    padding: 2rem 5%;
  }
}

@media screen and (max-width: 992px) {
  .events-container .events-content {
    padding: 2rem 10%;
  }
}

@media screen and (max-width: 600px) {
  .events-container .events-content {
    padding: 2rem 15%;
  }
}

@media screen and (max-width: 992px) {
  .events-container .events-content .event-item {
    width: calc(47% - 16px);
  }
}

@media screen and (max-width: 600px) {
  .events-container .events-content .event-item {
    width: calc(100% - 16px);
  }
}

/* footer */

footer {
  padding: 2rem 0 3rem;
  background-image: url(https://images.unsplash.com/photo-1514090743643-37a03f8a7272?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=64325d6…&w=1000&q=80);
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00000063;
    padding: 3rem 0;
    text-align: center;
    .footer-content-title {
      font-family: "radical-light";
      font-size: 2rem;
      color: white;
    }
    .footer-content-subtitle {
      font-family: "radical-light";
      font-size: 0.9rem;
      color: white;
      margin-bottom: 1.7rem;
    }
    .footer-content-email-label {
      font-family: "radical-light";
      font-size: 0.7rem;
      color: white;
    }
    .email-input {
      outline: 0;
      border-width: 0 0 2px;
      border-color: white;
      background-color: transparent;
    }
  }
}
