html,
body {
  height: 100%;
  width: 100%;
}

#app {
  background-color: #fafafa;
  min-height: 100%;
  min-width: 100%;
}



$font-families: 'Radikal','Radikal-Light', 'Radikal-Bold', 'Helvetica';
$fonts-url-path: '../fonts';

@font-face {
  font-family: 'Helvetica';
  src: url('#{$fonts-url-path}/Helvetica.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;



@font-face {
  font-family: 'Radikal-Light';
  src:  url('#{$fonts-url-path}/Radikal-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Radikal';
  src: url('#{$fonts-url-path}/Radikal.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Radikal-Bold';
  src:url('#{$fonts-url-path}/Radikal-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: $font-families;
}

}
