.footer{
    padding: 2rem 0 3rem;

    .footer-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #00000063;
        padding: 2rem 0;
        text-align: center;
        .footer-content-title{
            font-family: "Radikal-Light";
            font-size: 2rem;
            color: white;
        }
        .footer-content-subtitle{
            font-family: "Radikal-Light";
            font-size: 0.9rem;
            color: white;
            margin-bottom: 1.7rem;
        }
        .footer-content-email-label{
            font-family: "Radikal-Light";
            font-size: 0.7rem;
            color: white;
        }
        .email-input{
            outline: 0;
            border-width: 0 0 2px;
            border-color: white;
            background-color: transparent;
            border-style: outset;
            color: cadetblue;
        }
    }
  }
