.load_events {
  width: 175px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.load_events__button {
  color: #0a0607;
  font: 1em Radikal-Bold;
  font-size: 85%;
  padding: 10px;
  background: transparent;
  border: 1px solid #0a0607;
  cursor: pointer;
  display: block;
  width: 180px;
  -webkit-box-shadow: 1px 1px 10px 2px rgba(150, 150, 150, 1);
  -moz-box-shadow: 1px 1px 10px 2px rgba(150, 150, 150, 1);
  box-shadow: 1px 1px 10px 2px rgba(150, 150, 150, 1);
}
.load_events__button:hover {
  background-color: #ff4868;
}
